<div>
  <h3><a href='#' class="pull-right" ng-controller="logOutController" ng-click="exit()">Sign out</a></h3>
  <h3>(=^‥^=)ノApp</h3>
</div>

<div class="jumbotron">
  <div ng-controller="getMessagesController" style="overflow-y: scroll; height:350px;">
    <p ng-repeat="message in messages">{{message.author}}: {{message.message}}</p>

    <p>-- end of messages --</p>
    <p id='bottom'> </p>

  </div>
  <div ng-controller="setMessageController">
    <form ng-submit="addMessage()">
      <div class="form-group">
        <input id="inputNewMessage" type="text" ng-model="newMessage" placeholder="New message" class="form-control">
      </div>
    </form>
  </div>
</div>
