<div>
  <h3>(=^‥^=)ノApp</h3>
</div>

<div class="jumbotron">
  <div class="row marketing" ng-controller="loginController">
    <div class="col-sm-4" style="overflow-y: scroll; height:300px;">
      <h4>Users</h4>
      <ul>
        <li ng-repeat="user in users">{{user.$id}}</li>
      </ul>
    </div>

    <div class="col-sm-8">
      <h4>Log in</h4>
      <p>{{info}}</p>
      <form ng-submit="addUser()" class="form-inline">
        <div class="form-group">
          <input type="text" ng-model="newUsername" placeholder="username" class="form-control" required>
          <button type="submit" class="btn btn-success">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
